---
http_interactions:
- request:
    method: post
    uri: https://app-gateway.prod.senec.dev/v1/senec/login
    body:
      encoding: UTF-8
      string: '{"username":"<SENEC_USERNAME>","password":"<SENEC_PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"<TOKEN>","refreshToken":""}'
  recorded_at: Sat, 11 Jan 2025 09:11:40 GMT
- request:
    method: get
    uri: https://app-gateway.prod.senec.dev/v1/senec/systems
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":"<SENEC_SYSTEM_ID>","steuereinheitnummer":"<FILTERED>","gehaeusenummer":"<FILTERED>","strasse":"<FILTERED>","hausnummer":"<FILTERED>","postleitzahl":"<FILTERED>","ort":"<FILTERED>","laendercode":"DE","zeitzone":"Europe/Berlin","wallboxIds":["1"],"systemType":"V3"}]'
  recorded_at: Sat, 11 Jan 2025 09:11:40 GMT
- request:
    method: get
    uri: https://app-gateway.prod.senec.dev/v1/senec/systems/<SENEC_SYSTEM_ID>/technical-data
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"systemOverview":{"systemId":"<FILTERED>","hid":null,"productName":"<FILTERED>","installationDate":"<FILTERED>"},"casing":{"serial":"<FILTERED>","temperatureInCelsius":33.0571403503418},"mcu":{"mainControllerSerial":"<FILTERED>","mainControllerState":{"name":"AKKU_LEER","severity":"INFO"},"firmwareVersion":"826","guiVersion":966},"warranty":{"endDate":"<FILTERED>","warrantyTermInMonths":"<FILTERED>"},"batteryModules":[{"ordinal":1,"state":{"state":"OK","severity":"INFO"},"vendor":"UNKNOWN","serialNumber":"<FILTERED>","firmwareVersion":"","mainboardHardwareVersion":"","mainboardExtensionHardwareVersion":"","minTemperature":0.0,"maxTemperature":0.0,"lastContact":{"time":1736586661000,"timestamp":"2025-01-11T09:11:01Z","severity":"INFO"},"flags":[]},{"ordinal":2,"state":{"state":"OK","severity":"INFO"},"vendor":"UNKNOWN","serialNumber":"<FILTERED>","firmwareVersion":"","mainboardHardwareVersion":"","mainboardExtensionHardwareVersion":"","minTemperature":0.0,"maxTemperature":0.0,"lastContact":{"time":1736586661000,"timestamp":"2025-01-11T09:11:01Z","severity":"INFO"},"flags":[]},{"ordinal":3,"state":{"state":"OK","severity":"INFO"},"vendor":"UNKNOWN","serialNumber":"<FILTERED>","firmwareVersion":"","mainboardHardwareVersion":"","mainboardExtensionHardwareVersion":"","minTemperature":0.0,"maxTemperature":0.0,"lastContact":{"time":1736586661000,"timestamp":"2025-01-11T09:11:01Z","severity":"INFO"},"flags":[]},{"ordinal":4,"state":{"state":"OK","severity":"INFO"},"vendor":"UNKNOWN","serialNumber":"<FILTERED>","firmwareVersion":"","mainboardHardwareVersion":"","mainboardExtensionHardwareVersion":"","minTemperature":0.0,"maxTemperature":0.0,"lastContact":{"time":1736586661000,"timestamp":"2025-01-11T09:11:01Z","severity":"INFO"},"flags":[]}],"batteryInverter":{"state":{"name":null,"severity":null},"vendor":null,"firmware":{"firmwareVersion":null,"firmwareVersionHumanMachineInterface":null,"firmwareVersionPowerUnit":null,"firmwareVersionBidirectionalDcConverter":null},"temperatures":{"amb":null,"halfBridge1":null,"halfBridge2":null,"throttle":null,"max":null},"lastContact":{"time":61675682400000,"timestamp":"3924-06-04T22:00:00Z","severity":"ERROR"},"flags":[]},"batteryPack":{"numberOfBatteryModules":4,"technology":"LITHIUM_ION","maxCapacityInKwh":10.0,"maxChargingPowerInKw":0.0,"maxDischargingPowerInKw":0.0,"currentChargingLevelInPercent":0.0,"currentVoltageInV":0.0,"currentCurrentInA":0.0,"remainingCapacityInPercent":0.0},"installer":{"companyName":"<FILTERED>","email":"<FILTERED>","phoneNumber":"<FILTERED>","address":{"street":"<FILTERED>","houseNumber":"<FILTERED>","postcode":"<FILTERED>","city":"<FILTERED>","countryCode":"DE","region":"<FILTERED>","longitude":"<FILTERED>","latitude":"<FILTERED>","timezone":"Europe/Berlin"},"onlineMonitoringAllowed":true,"website":"<FILTERED>"},"slaveSystemInfoDtos":[]}'
  recorded_at: Sat, 11 Jan 2025 09:11:40 GMT
- request:
    method: get
    uri: https://app-gateway.prod.senec.dev/v2/senec/systems/<SENEC_SYSTEM_ID>/dashboard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"currently":{"powerGenerationInW":185.643564,"powerConsumptionInW":1067.45,"gridFeedInInW":1.0e-05,"gridDrawInW":852.80012376238,"batteryChargeInW":1.0e-05,"batteryDischargeInW":17.40408415842,"batteryLevelInPercent":1.0e-05,"selfSufficiencyInPercent":20.11,"wallboxInW":1.0e-05},"today":{"powerGenerationInWh":117.1875,"powerConsumptionInWh":11863.28,"gridFeedInInWh":0.0,"gridDrawInWh":11608.88671875,"batteryChargeInWh":0.0,"batteryDischargeInWh":141.11328125,"batteryLevelInPercent":1.0e-05,"selfSufficiencyInPercent":2.14,"wallboxInWh":0.0},"timestamp":"2025-01-11T09:11:01Z","electricVehicleConnected":false}'
  recorded_at: Sat, 11 Jan 2025 09:11:41 GMT
recorded_with: VCR 6.3.1
