---
http_interactions:
- request:
    method: post
    uri: https://app-gateway.prod.senec.dev/v1/senec/login
    body:
      encoding: UTF-8
      string: '{"username":"<SENEC_USERNAME>","password":"<SENEC_PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"<TOKEN>","refreshToken":""}'
  recorded_at: Sat, 02 Nov 2024 12:35:23 GMT
- request:
    method: get
    uri: https://app-gateway.prod.senec.dev/v1/senec/systems
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":"<SENEC_SYSTEM_ID>","steuereinheitnummer":"<FILTERED>","gehaeusenummer":"<FILTERED>","strasse":"<FILTERED>","hausnummer":"<FILTERED>","postleitzahl":"<FILTERED>","ort":"<FILTERED>","laendercode":"DE","zeitzone":"Europe/Berlin","wallboxIds":["1"],"systemType":"V3"}]'
  recorded_at: Sat, 02 Nov 2024 12:35:23 GMT
- request:
    method: get
    uri: https://app-gateway.prod.senec.dev/v1/senec/systems/<SENEC_SYSTEM_ID>/technical-data
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"systemOverview":{"systemId":"<FILTERED>","hid":null,"productName":"<FILTERED>","installationDate":"<FILTERED>"},"casing":{"serial":"<FILTERED>","temperatureInCelsius":34.082374572753906},"mcu":{"mainControllerSerial":"<FILTERED>","mainControllerState":{"name":"AKKU_LEER","severity":"INFO"},"firmwareVersion":"826","guiVersion":966},"warranty":{"endDate":"<FILTERED>","warrantyTermInMonths":"<FILTERED>"},"batteryModules":[{"ordinal":1,"state":{"state":"OK","severity":"INFO"},"vendor":"UNKNOWN","serialNumber":"<FILTERED>","firmwareVersion":"","mainboardHardwareVersion":"","mainboardExtensionHardwareVersion":"","minTemperature":0.0,"maxTemperature":0.0,"lastContact":{"time":1730550774000,"timestamp":"2024-11-02T12:32:54Z","severity":"INFO"},"flags":[]},{"ordinal":2,"state":{"state":"OK","severity":"INFO"},"vendor":"UNKNOWN","serialNumber":"<FILTERED>","firmwareVersion":"","mainboardHardwareVersion":"","mainboardExtensionHardwareVersion":"","minTemperature":0.0,"maxTemperature":0.0,"lastContact":{"time":1730550774000,"timestamp":"2024-11-02T12:32:54Z","severity":"INFO"},"flags":[]},{"ordinal":3,"state":{"state":"OK","severity":"INFO"},"vendor":"UNKNOWN","serialNumber":"<FILTERED>","firmwareVersion":"","mainboardHardwareVersion":"","mainboardExtensionHardwareVersion":"","minTemperature":0.0,"maxTemperature":0.0,"lastContact":{"time":1730550774000,"timestamp":"2024-11-02T12:32:54Z","severity":"INFO"},"flags":[]},{"ordinal":4,"state":{"state":"OK","severity":"INFO"},"vendor":"UNKNOWN","serialNumber":"<FILTERED>","firmwareVersion":"","mainboardHardwareVersion":"","mainboardExtensionHardwareVersion":"","minTemperature":0.0,"maxTemperature":0.0,"lastContact":{"time":1730550774000,"timestamp":"2024-11-02T12:32:54Z","severity":"INFO"},"flags":[]}],"batteryInverter":{"state":{"name":null,"severity":null},"vendor":null,"firmware":{"firmwareVersion":null,"firmwareVersionHumanMachineInterface":null,"firmwareVersionPowerUnit":null,"firmwareVersionBidirectionalDcConverter":null},"temperatures":{"amb":null,"halfBridge1":null,"halfBridge2":null,"throttle":null,"max":null},"lastContact":{"time":61675682400000,"timestamp":"3924-06-04T22:00:00Z","severity":"ERROR"},"flags":[]},"batteryPack":{"numberOfBatteryModules":4,"technology":"LITHIUM_ION","maxCapacityInKwh":10.0,"maxChargingPowerInKw":0.0,"maxDischargingPowerInKw":0.0,"currentChargingLevelInPercent":0.0,"currentVoltageInV":0.0,"currentCurrentInA":0.0,"remainingCapacityInPercent":0.0},"installer":{"companyName":"<FILTERED>","email":"<FILTERED>","phoneNumber":"<FILTERED>","address":{"street":"<FILTERED>","houseNumber":"<FILTERED>","postcode":"<FILTERED>","city":"<FILTERED>","countryCode":"DE","region":"<FILTERED>","longitude":"<FILTERED>","latitude":"<FILTERED>","timezone":"Europe/Berlin"},"onlineMonitoringAllowed":true,"website":"<FILTERED>"},"slaveSystemInfoDtos":[]}'
  recorded_at: Sat, 02 Nov 2024 12:35:23 GMT
- request:
    method: get
    uri: https://app-gateway.prod.senec.dev/v1/senec/systems/<SENEC_SYSTEM_ID>/dashboard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"aktuell":{"stromerzeugung":{"wert":703.125,"einheit":"W"},"stromverbrauch":{"wert":2290.0,"einheit":"W"},"netzeinspeisung":{"wert":0.01,"einheit":"W"},"netzbezug":{"wert":1593.75,"einheit":"W"},"speicherbeladung":{"wert":0.01,"einheit":"W"},"speicherentnahme":{"wert":23.438,"einheit":"W"},"speicherfuellstand":{"wert":1.0e-05,"einheit":"%"},"autarkie":{"wert":30.61,"einheit":"%"},"wallbox":{"wert":0.01,"einheit":"W"}},"heute":{"stromerzeugung":{"wert":2417.96875,"einheit":"Wh"},"stromverbrauch":{"wert":9130.0,"einheit":"Wh"},"netzeinspeisung":{"wert":109.375,"einheit":"Wh"},"netzbezug":{"wert":6838.8671875,"einheit":"Wh"},"speicherbeladung":{"wert":503.41796875,"einheit":"Wh"},"speicherentnahme":{"wert":494.140625,"einheit":"Wh"},"speicherfuellstand":{"wert":0.08105748146772385,"einheit":"%"},"autarkie":{"wert":25.15,"einheit":"%"},"wallbox":{"wert":0.0,"einheit":"Wh"}},"zeitstempel":"2024-11-02T12:32:54Z","electricVehicleConnected":false}'
  recorded_at: Sat, 02 Nov 2024 12:35:24 GMT
recorded_with: VCR 6.3.1
