---
http_interactions:
- request:
    method: get
    uri: https://app-gateway.prod.senec.dev/v1/senec/systems
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":"<SENEC_SYSTEM_ID>","steuereinheitnummer":"<FILTERED>","gehaeusenummer":"<FILTERED>","strasse":"<FILTERED>","hausnummer":"<FILTERED>","postleitzahl":"<FILTERED>","ort":"<FILTERED>","laendercode":"DE","zeitzone":"Europe/Berlin","wallboxIds":["1"],"systemType":"V3"}]'
  recorded_at: Sat, 27 Jul 2024 06:37:27 GMT
- request:
    method: get
    uri: https://app-gateway.prod.senec.dev/v1/senec/systems/<SENEC_SYSTEM_ID>/technical-data
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"systemOverview":{"systemId":"<FILTERED>","hid":null,"productName":"<FILTERED>","installationDate":"<FILTERED>"},"casing":{"serial":"<FILTERED>","temperatureInCelsius":36.26167678833008},"mcu":{"mainControllerSerial":"<FILTERED>","mainControllerState":{"name":"PV_UND_ENTLADEN","severity":"INFO"},"firmwareVersion":"826","guiVersion":966},"warranty":{"endDate":"<FILTERED>","warrantyTermInMonths":"<FILTERED>"},"batteryModules":[{"ordinal":1,"state":{"state":"OK","severity":"INFO"},"vendor":"BMZ","serialNumber":"<FILTERED>","firmwareVersion":"1.96.37","mainboardHardwareVersion":"1001","mainboardExtensionHardwareVersion":"1","minTemperature":26.0,"maxTemperature":28.0,"lastContact":{"time":1722062024000,"timestamp":"2024-07-27T06:33:44Z","severity":"INFO"},"flags":[]},{"ordinal":2,"state":{"state":"OK","severity":"INFO"},"vendor":"BMZ","serialNumber":"<FILTERED>","firmwareVersion":"1.96.37","mainboardHardwareVersion":"1001","mainboardExtensionHardwareVersion":"1","minTemperature":26.0,"maxTemperature":28.0,"lastContact":{"time":1722062024000,"timestamp":"2024-07-27T06:33:44Z","severity":"INFO"},"flags":[]},{"ordinal":3,"state":{"state":"OK","severity":"INFO"},"vendor":"BMZ","serialNumber":"<FILTERED>","firmwareVersion":"1.96.37","mainboardHardwareVersion":"1001","mainboardExtensionHardwareVersion":"1","minTemperature":27.0,"maxTemperature":29.0,"lastContact":{"time":1722062024000,"timestamp":"2024-07-27T06:33:44Z","severity":"INFO"},"flags":[]},{"ordinal":4,"state":{"state":"OK","severity":"INFO"},"vendor":"BMZ","serialNumber":"<FILTERED>","firmwareVersion":"1.96.37","mainboardHardwareVersion":"1001","mainboardExtensionHardwareVersion":"1","minTemperature":27.0,"maxTemperature":30.0,"lastContact":{"time":1722062024000,"timestamp":"2024-07-27T06:33:44Z","severity":"INFO"},"flags":[]}],"batteryInverter":{"state":{"name":null,"severity":null},"vendor":null,"firmware":{"firmwareVersion":null,"firmwareVersionHumanMachineInterface":null,"firmwareVersionPowerUnit":null,"firmwareVersionBidirectionalDcConverter":null},"temperatures":{"amb":null,"halfBridge1":null,"halfBridge2":null,"throttle":null,"max":null},"lastContact":{"time":61675682400000,"timestamp":"3924-06-04T22:00:00Z","severity":"ERROR"},"flags":[]},"batteryPack":{"numberOfBatteryModules":4,"technology":"LITHIUM_ION","maxCapacityInKwh":10.0,"maxChargingPowerInKw":2.5,"maxDischargingPowerInKw":3.75,"currentChargingLevelInPercent":76.76766967773438,"currentVoltageInV":54.665000915527344,"currentCurrentInA":-11.720000267028809,"remainingCapacityInPercent":99.0},"installer":{"companyName":"<FILTERED>","email":"<FILTERED>","phoneNumber":"<FILTERED>","address":{"street":"<FILTERED>","houseNumber":"<FILTERED>","postcode":"<FILTERED>","city":"<FILTERED>","countryCode":"DE","region":"<FILTERED>","longitude":"<FILTERED>","latitude":"<FILTERED>","timezone":"Europe/Berlin"},"onlineMonitoringAllowed":true,"website":"<FILTERED>"},"slaveSystemInfoDtos":[]}'
  recorded_at: Sat, 27 Jul 2024 06:37:28 GMT
- request:
    method: get
    uri: https://app-gateway.prod.senec.dev/v1/senec/systems/<SENEC_SYSTEM_ID>/dashboard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"aktuell":{"stromerzeugung":{"wert":698.469,"einheit":"W"},"stromverbrauch":{"wert":1210.0,"einheit":"W"},"netzeinspeisung":{"wert":0.01,"einheit":"W"},"netzbezug":{"wert":5.821,"einheit":"W"},"speicherbeladung":{"wert":0.01,"einheit":"W"},"speicherentnahme":{"wert":529.672,"einheit":"W"},"speicherfuellstand":{"wert":76.76766967773438,"einheit":"%"},"autarkie":{"wert":99.52,"einheit":"%"},"wallbox":{"wert":0.01,"einheit":"W"}},"heute":{"stromerzeugung":{"wert":847.65625,"einheit":"Wh"},"stromverbrauch":{"wert":2700.0,"einheit":"Wh"},"netzeinspeisung":{"wert":111.328125,"einheit":"Wh"},"netzbezug":{"wert":87.890625,"einheit":"Wh"},"speicherbeladung":{"wert":130.37109375,"einheit":"Wh"},"speicherentnahme":{"wert":2009.765625,"einheit":"Wh"},"speicherfuellstand":{"wert":86.12336730957031,"einheit":"%"},"autarkie":{"wert":96.75,"einheit":"%"},"wallbox":{"wert":0.0,"einheit":"Wh"}},"zeitstempel":"2024-07-27T06:33:44Z","electricVehicleConnected":false}'
  recorded_at: Sat, 27 Jul 2024 06:37:29 GMT
recorded_with: VCR 6.2.0
